#enclosure{
    display: flex;
    align-items:center;
    justify-content:space-around
}

#intro{
    padding: 10px 10px;
    background-color:white;
    border-color: tan;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#content{
    text-align: center;
}

.heading{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: teal;
}
#floatright{
    float: right;
}
body{
    background-image: url(../images/akan.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top:17%; 
}